@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.websiteinfo-article {
  @apply flex flex-col gap-8 bg-slate-800 rounded-lg text-white px-6 md:px-8 lg:px-12 py-6 lg:py-8;
}

.Typewriter {
  @apply text-transparent font-bold text-5xl text-center sm:text-9xl animate-gradient-move bg-clip-text bg-gradient-to-r from-indigo-300 to-sky-200 mx-8 pl-2 mt-auto;
  background-size: 400% 400%;
  line-height: 1.4;
}

.Typewriter:empty:before {
  content: "\200b";
}

.Typewriter__cursor {
  @apply bg-clip-text bg-gradient-to-r from-indigo-300 to-sky-200;
}
